/* COLOR PALETTE

light gray: #d8d8d8
Info + Thesis gray: #f3f5f5
Courses gray: #eaebec
mid gray (mobile only): #9b9b9b
dark gray (text + button): #4a4a4a
*/


/* Universal Styles */

html {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  background-color: #ffffff;
  /* apply a natural box layout model to all elements, but allowing components to change */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, .bold-type {
  font-weight: 800;
  color: #4a4a4a;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h3, p {
  line-height: 1.75rem;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: 1224px;
}

/*.banner-container, .info-container,*/ footer {
  padding: 2rem 0 2rem 1.5rem;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1.5rem;
  max-width: 1145px;
}

header img {
  height: 2.5rem;
}

header span {
  text-transform: uppercase;
  color: #d8d8d8;
  font-size: 1.25rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  font-size: 1rem;
  color: #4a4a4a;
}

/*header .icon {
  width: 1rem;
  padding-left: .75rem;
}*/

header .desktop {
  display: flex;
  align-items: center;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  header .container {
    /*padding: .5rem;
    justify-content: center;*/
    max-width: 1024px;
  }
}

@media only screen and (max-width: 560px) {
/*  header .container {
    padding: .5rem;
    justify-content: center;
    max-width: 1200px;
  }*/

  header nav.desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header span {
    display: none;
  }
}

/* Banner section */
.main-content {
  position: relative;
  top: 4rem;
  border: 1px #9b9b9b solid;
}

.banner-container {
  display: flex;
  /*padding: 2rem 1.5rem;*/
  background-color: #d8d8d8;
  align-items: center;
  justify-content: space-between;
}

.banner-image {
  width: 60%;
  margin-right: 2.5rem;
  /* testing*/
  margin: 2rem 1.25rem 2rem 1.5rem;
}

.banner-image img, .main-info img, .square img, .course img  {
  max-width: 100%;
}

.start-container {
  display: flex;
  /*flex-wrap: wrap;
  flex-direction: column;*/
  flex-flow: column;
  /*padding: 0 2.5rem;*/
  width: 26.5rem;
  /*testing with 1px transparent left border*/
  border-left: 1px transparent solid;
  margin-left: 1.25rem;
}

.start-container h1 {
  margin-bottom: 2rem;
}

.start-container h3 {
  margin-bottom: 1.5rem;
}

.start-container .button {
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 90%;
}

@media only screen and (max-width: 560px) {
  .banner-container {
    flex-flow: column;
  }
  .banner-image {
    width: 100%;
    height: 11.25rem;
    background-color: #9b9b9b;
    margin-top: 0;
  }
  .banner-image img {
    display: none;
  }
  .start-container {
    margin: 2rem 1rem;
    border-style: none;
  }
  .start-container .button {
    background-color: #9b9b9b;
  }
}

/* School Information*/

.info-container {
  display: flex;
  justify-content: space-between;   /*test by turning off margin-left*/
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f3f5f5;
}

.main-info {
  /*padding: 2rem 0;*/
  width: 60%;
  /*margin-right: 1.5rem;*/
  /*testing - also remove padding*/
  margin: 2rem 1.5rem;
}

.student p {
  font-size: 0.75rem;
  font-weight: 800;
}

.main-info h2 {
  margin: 2rem 0 1.5rem 0;
}

.info-bar {
  padding: 2rem 0 0 0;
  display: flex;
  flex-flow: column;
  width: 27.5rem;
  border-left: 1px #d8d8d8 solid;
/*  margin-left: .25rem;  test by turning off margin-left*/
}

.orientation, .campus, .lecture {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px #d8d8d8 solid;
  width: 100%;
  justify-content: flex-start;
}

.orientation {
  padding-top: 0;
}

.callout {
  background-color: #d8d8d8;
}

.square {
  width: 35%;
}

.mobile {
  display: none;
}

.info-bar .stories {
  padding-left: 1rem;
}

@media only screen and (max-width: 560px) {
  .info-container {
    flex-flow: column;
    margin: 1rem;
  }
  .main-info {
    display: none;
  }
  .info-bar {
    /*flex-flow: column;*/
    border-style: none;
    /*padding: 1rem;*/
  }
  .orientation, .campus, .lecture {
    flex-flow: column;
    border-style: none;
  /*  padding: 1rem 0 1rem 1rem;*/
    margin: auto;
    padding: 0;
  }
  .square {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .mobile img {
    max-width: 100%;
  }
  .callout {
    background-color: #ffffff;
  }
  .info-bar .stories {
    padding: 1rem 2rem;
  }
}

/*Courses*/

.course-container {
  background-color: #eaebec;
  display: flex;
  flex-direction: column;
}

.course-container h2 {
  margin: 2rem 0;
  text-align: center;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3.5rem;
}

.course {
  width: 30%;
  margin: 1rem;
  background-color: #ffffff;
}

.track {
  margin: 1rem 1rem 1.5rem 1rem;
}

.track h4, p {
  margin: .5rem 0;
}

@media only screen and (max-width: 560px) {
  .course-container h2 {
    margin: 2rem 0 1rem 0;
  }
  .course-list {
    margin: .25rem .75rem;
    align-items: center;
  }
  .course img, .track h4, .track p {
    display: none;
  }
  .course {
    background-color: #d8d8d8;
    width: 100%;
    margin: .25rem;
  }
  .track {
    margin: 1rem;
  }
  .track h3 {
    color: #4a4a4a;
  }
}
/*Footer */

footer {
  border-top: 1px #9b9b9b solid;
  padding-top: 1rem;
  font-size: 0.75rem;
}
